/*colors and fonts*/

body {
background: #E7F6F2; 
color: rgb(50, 50, 50);
font-family: 'Lora', serif; 
font-size: 16px;
font-weight: 400;
}

h1, h2, h3 {
font-family: Montserrat, sans-serif;
}

h1 {
	color: #0078AA;  
	font-weight: 1300;
	font-size: 40px;
}

h2 {
	color: #76549A; 
	font-weight: 700;
	font-size: 26px;
}

a {
	text-decoration: none;
	color : #6B72E1;
}

a:hover {
	color: yellow;
}

ul	{ margin-top: 70px; }




/*Custom desgin with class*/

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 720px) {
  .container {
    width: 550px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 400;
  }
}

.card-white{ 
	background-color: white; 
	padding: 40px; 
	box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
	border-radius : 4px; 	
	margin : 20px;
	text-align: center;
  }


.img-circle { 
	border-radius: 50%;
 }

 .btn-blue {
 	background-color: #6B72E1; 
 	color: white; 
 	padding: 15px 20px;  
 	border-radius : 4px;
 }

.btn-blue:hover {
	background-color: black; 
	color: yellow;
}


.list-inline {
	list-style: none; 
	padding-left: 0px; 
}

.list-inline li { 
	display: inline; 
	padding: 10px;
 }

.list-inline i {
 	font-size: 50px; 
 	color: rgb(230,230,230);
 }

.list-inline i:hover {
  	color: black;
 }

.btn-margin > p {
	margin-bottom: 50px;
}


